
.nbl-contacts
  .nbl-contacts__top 
    a.btn-3.nbl-textAnimation._viceversa(href="#") Discuss the project
    a.btn-3.nbl-textAnimation._viceversa(href="mailto:info@netlab.pro") info@netlab.pro
  .nbl-contacts__body 
    .h1 Moscow, Bersenevskaya emb., building 6, building 1
  .nbl-contacts__bottom 
    a.nbl-contacts__bottom-left(href="#")
      .h6 Telegram channel
      <img src="img/new/tg-svg.svg" alt="">
    a.nbl-contacts__bottom-right(href="#")
      .h6 Dprofile
      <img src="img/new/dprofile-svg.svg" alt="">