
.nbl-technologies
  .nbl-technologies__el 
    .nbl-technologies__top 
      .h3 Front-end
    .nbl-technologies__body 
      .h6 
        |We develop applications and services using
        span.h6 Angular, RxJs и Sass. 
        |In preparing application modules we use
        span.h6 Webpack 
        |The main programming language in the front-end
        span.h6 TypeScript 
  .nbl-technologies__el 
    .nbl-technologies__top 
      .h3 Back-end
    .nbl-technologies__body 
      .h6 
        |We write the backend in 
        span.h6 Ruby and Ruby on Rails. 
        |We use the architectural style of interaction 
        span.h6 REST. 
        |In projects on 
        span.h6 SPA 
        |architecture, we use server rendering.
  .nbl-technologies__el 
    .nbl-technologies__top 
      .h3 Infrastructure
    .nbl-technologies__body 
      .h6 
        |Version control
        span.h6 Git. 
        |Repository Management,
        span.h6 CI/CD 
        |and bug tracker
        span.h6 GitLab. 
        |Deployment automation
        span.h6 Docker 
        | and
        span.h6 Kubernetes 
        | Lamp chats
        span.h6 Telegram.