.nbl-fixedHeader 
  .nbl-header__logo 
    <svg class="" width="160" height="81" viewBox="0 0 160 81" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M79.5361 40.4473L0 81V40.5254L79.5361 0V40.4473ZM159.069 40.4473L79.5361 81V40.5254L159.069 0V40.4473Z" fill="white"/>
    </svg>


  .nbl-header__link._deskNo 
    .btn-2 Text to Telegram

  .animated-menu._mobNo
    .animated-menu__body
      .animated-menu__top
        .nbl-burger 
          <div class="burger-item burger-first"></div>
          <div class="burger-item burger-second"></div>
          <div class="burger-item burger-third"></div>
        .btn-1.nbl-textAnimation Main 
      .animated-menu__body-el 
        a.btn-1.animated-menu__link.nbl-textAnimation(href="#") Main
      .animated-menu__body-el
        a.btn-1.animated-menu__link.nbl-textAnimation(href="#") Portfolio
      .animated-menu__body-el
        a.btn-1.animated-menu__link.nbl-textAnimation(href="#") About us
      .animated-menu__body-el  
        a.btn-1.animated-menu__link.nbl-textAnimation(href="#") Services
      .animated-menu__body-el
        a.btn-1.animated-menu__link.nbl-textAnimation(href="#") Contacts


.animated-menu(js-modal-open data-modal-name="menuModal")
  .nbl-burger 
    <div></div>
    <div></div>
    <div></div>
  .btn-1 Main