.nbl-header 
  .nbl-header__logo 
    <svg width="301" height="144" viewBox="0 0 301 144" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M176.405 124.785L138.895 143.899V73.2171L160.324 62.2979V115.996L176.405 107.801V124.785Z" fill="white"/>
      <path d="M241.682 91.5301L219.536 102.815L217.947 94.6505L203.507 102.014L201.76 111.872L179.614 123.156L198.675 42.7614L224.875 29.4084L241.678 91.5301H241.682ZM215.425 80.787L214.039 73.2479C214.004 73.2347 213.933 72.8606 213.832 72.1168C213.762 71.483 213.401 69.0096 212.754 64.7009C212.684 64.2212 212.595 63.5478 212.494 62.7028C212.393 61.8578 212.257 60.7883 212.085 59.5076L211.416 53.1612C211.346 53.839 211.253 54.6048 211.134 55.4586C211.011 56.3124 210.883 57.2498 210.747 58.2665C210.509 60.2822 210.338 61.6774 210.236 62.4608C210.135 63.2486 210.065 63.7283 210.03 63.8955L208.538 73.2127L206.381 85.3906L215.421 80.7914L215.425 80.787Z" fill="white"/>
      <path d="M246.845 88.8983V18.212L271.764 5.51478C281.082 0.770381 287.987 -0.915245 292.472 0.462303C297.027 1.88826 299.302 5.5808 299.302 11.5311C299.302 20.3817 294.368 27.692 284.506 33.4442C290.126 31.3141 294.241 30.8652 296.864 32.0931C299.483 33.321 300.799 36.349 300.799 41.1726C300.799 47.2461 298.589 53.2492 294.17 59.1951C289.783 65.1543 284.013 69.9603 276.856 73.6088L246.85 88.8895L246.845 88.8983ZM268.274 34.7646L269.713 34.034C272.284 32.7313 274.308 31.1557 275.8 29.3336C277.288 27.5027 278.036 25.6323 278.036 23.709C278.036 19.6203 275.519 18.8545 270.484 21.4204C270.242 21.5436 269.942 21.7021 269.581 21.9001C269.225 22.0982 268.789 22.3446 268.274 22.6307V34.7646ZM268.274 62.6412C268.688 62.4652 269.04 62.3067 269.348 62.1703C269.661 62.0251 269.911 61.9018 270.123 61.7962C272.794 60.4363 274.924 58.7198 276.522 56.6601C278.111 54.6004 278.912 52.5099 278.912 50.4017C278.912 48.2936 278.115 47.0613 276.522 46.6784C274.929 46.2955 272.746 46.8148 269.969 48.2276L268.274 49.0902V62.6412Z" fill="white"/>
      <path d="M59.6484 113.606L95.1302 95.5307V78.5468L78.7404 86.8957V76.091L93.4357 68.6091V52.6287L78.7404 60.1149V49.8164L95.1302 41.4674V24.8488L59.6484 42.9242V113.606Z" fill="white"/>
      <path d="M98.3339 23.216V40.1559L108.861 34.7866V88.5329L127.953 78.8065V25.0645L138.895 19.4883V2.54841L98.3339 23.216Z" fill="white"/>
      <path d="M31.5428 93.0925C30.8254 91.2396 30.152 89.5408 29.5535 88.1104C28.8977 86.5524 28.308 85.1749 27.793 83.9734L18.225 64.0363L0 73.3183V144L18.2206 134.718V97.7049C18.5507 98.6071 18.828 99.4741 19.2021 100.403C20.0119 102.418 20.9185 104.557 21.9307 106.82L31.5428 127.923L49.7634 118.641V47.9635L31.5428 57.2454V93.0925Z" fill="white"/>
    </svg>
  .nbl-linksSm
    a.btn-2.nbl-links__item.nbl-textAnimation(href="#") Main
    a.btn-2.nbl-links__item.nbl-textAnimation(href="#") Portfolio
    a.btn-2.nbl-links__item.nbl-textAnimation(href="#") About 
    a.btn-2.nbl-links__item.nbl-textAnimation(href="#") Services
    a.btn-2.nbl-links__item.nbl-textAnimation(href="#") Contacts
  .nbl-header__link 
    a.btn-2.nbl-textAnimation._viceversa(href="#") Text to Telegram