- var srcWebm = "img/new/rock.webm"
- var srcMp4 = "img/new/rock.mp4"

include ../components/nbl-fixed
//- a.video-banner-block._with-title.fixed-size(href='#' )
include ../components/video-bannerSize

.page-container
  include ../components/nbl-nextBlock
  .main-header-block

  .nbl-bigBlock
    .h2.nbl-title Team
    include ../nbl-team/_nbl-team
  .nbl-bigBlock
    include ../nbl-trophies/_nbl-trophies
  .nbl-bigBlock
    .h2.nbl-title Awards
    include ../nbl-awards/_nbl-awards