
.nbl-devProcess
  .h3
    |Development of cross-platform mobile applications is a
    |complex process that includes several stages.
    |Below are the main stages that are usually included in the development.
    |cross-platform mobile applications:
  .h4 Planning and analysis
  .h6-sm
    |Defining Project Goals and Requirements: Determine what features and capabilities the application should have, and
    |establish its main goals and objectives.
  .h6-sm
    |Market and Audience Research: Analyze the market, study your competitors, and understand the needs of your target audience.
  .h6-sm 
    |Defining technical requirements: Decide what technologies, tools, and
    |platforms will be used for development.

  .dev-list 
    .dev-list__item
      .h4 Interface design (UI/UX)
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
      </svg>
    .dev-list__item
      .h4 Development
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
      </svg>
    .dev-list__item
      .h4 Testing
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
      </svg>
    .dev-list__item
      .h4 Release and Deployment
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
      </svg>
    .dev-list__item
      .h4 Maintenance and updating
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
      </svg>