- var srcWebm = "img/new/services.webm"
- var srcMp4 = "img/new/services.mp4"

include ../components/nbl-fixed
include ../components/video-bannerSize

.page-container.uslugi-page
  include ../components/nbl-nextBlock
  .nbl-bigBlock
    .nbl-links 
      .nbl-links__item 
        .h2 Mobile development
      .nbl-links__item 
        .h2 Web development
      .nbl-links__item 
        .h2 UX/UI–Design
      .nbl-links__item 
        .h2 AI technologies
      .nbl-links__item 
        .h2 Integrations
      .nbl-links__item 
        .h2 Digital marketing
      .nbl-links__item 
        .h2 Tilda development

  .nbl-bigBlock
    .h2.nbl-title Technologies
    include ../nbl-technologies/_nbl-technologies

  .nbl-bigBlock
    .h2.nbl-title Technologies
    include ../nbl-devProcess/_nbl-devProcess