.nbl-linksSm._contentList._double
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") New
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") Websites
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") Applications
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") Services
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") Advertisement 
  .nbl-linksSm__item 
    a.h2.nbl-textAnimation(href="#") Content creation
.nbl-linksSm._contentList._double
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") All projects
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") Company website
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") Quick solution
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") E-commerce
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") Construction
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") Medicine
  .nbl-linksSm__item 
    a.btn-1.nbl-textAnimation(href="#") Start-up