
.nbl-team
  - var i = 0
  while i < 5
    .nbl-teamItem 
      .nbl-teamItem__img 
        img(src="img/new/dm-team.jpg" alt="")
      .nbl-teamItem__info 
        .h3 Dmitry Maximov
        .h6 Job title
    - i++
