- var srcWebm = "img/new/main-video.webm"
- var srcMp4 = "img/new/main-video.mp4"

include ../components/nbl-fixed
include ../components/video-banner

.page-container
  include ../components/nbl-nextBlock
  .nbl-bigBlock
    .nbl-projects
      .nbl-title.h2 Latest projects
      .nbl-projects__wrapper
        .nbl-project(js-modal-open data-modal-name='caseModal' data-modal-url='api/case2.xml'  data-modal-title="Linktech app" data-modal-background='#F2F2F2')
          .nbl-project__img
            img(src="img/new/nbl-project.jpg" alt="")
            .nbl-project__mesh 
              .nbl-project__icons 
                include ../nbl-projectIcon/_nbl-projectIcon
                include ../nbl-projectIcon/_nbl-projectIconSmall
              .nbl-project__icons 
                include ../nbl-projectIcon/_nbl-projectIconSmall
                include ../nbl-projectIcon/_nbl-projectIcon
                //- include ../nbl-projectIcon/_nbl-projectIconSmall
              .nbl-project__icons 
                include ../nbl-projectIcon/_nbl-projectIcon
                include ../nbl-projectIcon/_nbl-projectIconSmall
          .nbl-project__info 
            .h3.nbl-textAnimation Linktech app
            .h7 development / support / creatives
        .nbl-project( js-modal-open data-modal-name='caseModal' data-modal-url='api/case2.xml'  data-modal-title="Linktech app" data-modal-background='#F2F2F2' )
          .nbl-project__img
            <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/new/escape2.png">
              <source src="img/new/escape.webm" type="video/webm">
              <source src="img/new/escape.mp4" type="video/mp4">
            </video>
            .nbl-project__mesh 
              .nbl-project__icons 
                include ../nbl-projectIcon/_nbl-projectIconSmall
                include ../nbl-projectIcon/_nbl-projectIcon
          .nbl-project__info 
            .h3.nbl-textAnimation DoBuy shop
            .h7 development / support / creatives
        .nbl-projects__small 
          .nbl-project(js-modal-open data-modal-name='caseModal' data-modal-url='api/case3.xml'  data-modal-title="Linktech app" data-modal-background='#F2F2F2')
            .nbl-project__img
              img(src="img/new/agave-preview.jpg" alt="")
            .nbl-project__mesh 
              .nbl-project__icons 
                include ../nbl-projectIcon/_nbl-projectIcon
            .nbl-project__info 
              .h3.nbl-textAnimation Linktech app
              .h7 branding / video content / 3D modeling / website development
          .nbl-project(js-modal-open data-modal-name='caseModal' data-modal-url='api/case3.xml'  data-modal-title="Linktech app" data-modal-background='#F2F2F2')
            .nbl-project__img
              <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/new/escape2.png">
                <source src="img/new/escape.webm" type="video/webm">
                <source src="img/new/escape.mp4" type="video/mp4">
              </video>
            .nbl-project__info 
              .h3.nbl-textAnimation Linktech app
              .h7 3D modeling / support
    a.btn-2.nbl-textAnimation._viceversa(href="#") All projects
  
  .nbl-bigBlock 
    .nbl-links 
      .nbl-links__item 
        .h2 Mobile development
      .nbl-links__item 
        .h2 Web development
      .nbl-links__item 
        .h2 UX/UI–Design
      .nbl-links__item 
        .h2 AI technologies
      .nbl-links__item 
        .h2 Integrations
      .nbl-links__item 
        .h2 Digital marketing
      .nbl-links__item 
        .h2 Tilda development


a.video-banner-block._smallMob(href='#' )
  .video-banner-block__background
    video(src="img/Netlab2.webm" muted loop autoplay playsinline)
