.case-modal-tg-banner
  display: grid
  grid-auto-flow: row
  text-align: center
  +aProp(gap, 16)
  justify-items: center
  // margin-top: aCalc(80)
  +r($sm)
    height: 300px
    // padding: 0 60px
    padding: 0
    gap: 16px
    margin-top: 0
    display: flex
    flex-direction: column
    align-items: center
    gap: 0
  .h2 
    +r($sm)
      margin-bottom: 8px
  h3 
    +r($sm)
      margin-bottom: 16px
  .modal-links
    +r($sm)
      margin-bottom: 16px

  .h1
  h3
  img
    +aProp(height, 120)
    width: auto
    +r($sm)
    height: 120px
       
  h4
    color: #9C9C9C