.main-page-banner
  include ../components/3d-banner
  button.main-page-banner__scroll-button 
    svg(xmlns='http://www.w3.org/2000/svg' width='57' height='57' fill='none' viewBox='0 0 57 57')
      circle(cx='28.5' cy='28.5' r='28.5' fill='#fff')
      path(stroke='#101010' stroke-linecap='round' stroke-width='1.5' d='m24 26.5 5 5 5-5')
  a.main-page-banner__mail-tag.slide-button(href='#') 
    p.h3 info@netlab.pro
  // ссылка на тг
  button.main-page-banner__order-site._mob(href="#")
    h3 Discuss the project