
a.video-banner-block._with-title(href='#' )
  .video-banner-block__background
    video(loop muted="muted"   autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/new/escape2.png")
      source(src=srcMp4 type="video/mp4")
      source(src=srcWebm type="video/webm")
  .nbl-transfText
    .nbl-transfText__el 
      p.h1
        |We have been creating digital projects for over 13 years.
        |We combine expertise with aesthetics and
        |we create functional projects with character.