
.nbl-footer
  .nbl-footer__wrapper
    .nbl-footer__top
      .nbl-footer__top-el._notList
        img(src="img/new/netlab.png" alt="")
      .nbl-footer__top-el
        .h4.nbl-footer__title Pages
        a(href="#").btn-1.nbl-textAnimation Main
        a(href="#").btn-1.nbl-textAnimation Portfolio
        a(href="#").btn-1.nbl-textAnimation About
        a(href="#").btn-1.nbl-textAnimation Services
        a(href="#").btn-1.nbl-textAnimation Contacts
      .nbl-footer__top-el
        .h4.nbl-footer__title Expertise
        a(href="#").btn-1.nbl-textAnimation E-commerce
        a(href="#").btn-1.nbl-textAnimation Construction
        a(href="#").btn-1.nbl-textAnimation Medicine
        a(href="#").btn-1.nbl-textAnimation Start-up
      .nbl-footer__top-el
        .h4.nbl-footer__title Contacts
        .btn-1 Moscow, Bersenevskaya embankment, 6, building 1.
        a(href="#").btn-1.nbl-textAnimation +7 (495) 641 61 55
        a(href="#").btn-1.nbl-textAnimation info@netlab.pro
        a(href="#").btn-1.nbl-textAnimation._viceversa Telegram channel
    .nbl-footer__middle
      a.btn-3.nbl-textAnimation._viceversa(href="#") Discuss the project
    .nbl-footer__bottom
      .h5
        button.scroll-up.nbl-textAnimation._viceversa Go up
      .h5 2025 © NetLab
      .h5
        a.nbl-textAnimation(href="#") Privacy Policy

include ../modals/_modals


