.page-container
  .blog-post-wrapper 
    h1 Мы запустили новый проект — сайт жилого комплекса «Лайм».
    p На сайте пользователь может ознакомиться с преимуществами ЖК и выбрать квартиру — как в каталоге, так и на плане здания.
    p Цветовая гамма сайта соответствует фирменному стилю жилого комплекса. В качестве акцентного цвета мы выбрали лаймовый — похожий оттенок используется на фасаде здания.
    img.full-width-img.rounded(src="img/Rectangle 465.jpg" alt="")
    .ul-block
      .ul-block__title На сайте реализованы<br class='dsk-br'/> следующие функции: 
      .ul-block__list 
        .ul-block__line Синхронизация с внутренней CRM, которая упрощает процесс обработки заявок.
        .ul-block__line Сложные фильтры в каталоге. Пользователь может выбрать квартиру по заданным параметрам: количество комнат, площадь, этаж, цена.
        .ul-block__line Выбор квартиры на генплане здания. Доступные квартиры отображаются на плане здания. Можно выбрать квартиру с подходящей планировкой и забронировать на сайте.
        .ul-block__line Интеграция с Яндекс.Картами. На карте отмечены объекты инфраструктуры, которые находятся рядом с жилым комплексом. Пользователь может выбрать определенную категорию: школы, магазины, рестораны и т.д.
        .ul-block__line В разделе «Контакты» есть функция «Построить маршрут». Нажав на кнопку, пользователь перейдет на Яндекс.Карты и сможет построить маршрут до ЖК «Лайм».
        .ul-block__line В каталоге реализована функция «Избранное». Клиент может добавить несколько понравившихся квартир в избранное, а потом сравнить их между собой.
    img.full-width-img.rounded(src="img/Rectangle 465.jpg" alt="")
    .ul-block
      .ul-block__title В галерее представлены:
      .ul-block__list 
        .ul-block__line Синхронизация с внутренней CRM, которая упрощает процесс обработки заявок.
        .ul-block__line Сложные фильтры в каталоге. Пользователь может выбрать квартиру по заданным параметрам: количество комнат, площадь, этаж, цена.
        .ul-block__line Выбор квартиры на генплане здания. Доступные квартиры отображаются на плане здания. Можно выбрать квартиру с подходящей планировкой и забронировать на сайте.
    p Изображения на мобильных устройствах сложно отобразить, потому что они ограничены размером экрана. Любые крупные фотографии будут скорее всего показаны в формате превью. Но оно не является для пользователей наилучшим визуальным представлением товаров или услуг.
    p Всегда можно предоставить людям возможность прикасаться к изображениям, чтобы они могли увидеть полноэкранную версию. Но это дополнительное взаимодействие, которое не все будут делать. Как же продемонстрировать красивые изображения на мобильных устройствах, где пространство экрана ограничено?
    
  img.full-width-img.rounded(src="img/Rectangle 465.jpg" alt="")
  .blog-post-wrapper 
    .ul-block
      .ul-block__title На сайте есть вся необходимая<br class='dsk-br'/> информация для людей, которые<br class='dsk-br'/> планируют купить квартиру:
      .ul-block__list 
        .ul-block__line Условия покупки
        .ul-block__line Документы: аудиторское заключение, проектная декларация, разрешение на ввод в эксплуатацию
        .ul-block__line Новости о ходе строительства
    p Ответ заключается в размещении изображений таким образом, чтобы они касались краев экрана. Вместо того, чтобы обрезать изображения слева и справа, расположите их на всю ширину. Кроме того, поднимите их к верхнему краю. Если у вас есть кнопки, вы можете разместить их поверх фотографии. В результате вы получите визуальный элемент, который привлекает к себе внимание пользователей.