- var srcWebm = "img/new/main-video.webm"
- var srcMp4 = "img/new/main-video.mp4"

include ../components/nbl-fixed

.page-container
  include ../nbl-portfolio/_nbl-portfolio
  .nbl-bigBlock
    .h2.nbl-title Cases 2021/2011
    .nbl-awards.nbl-awards_cases(data-awards-path="../api/award2.json") 
      .awards-card
        img(src="" alt="")
      .nbl-awards__block
        ul.nbl-awards__data
          li.nbl-awards__data-el.h4 2021
        ul.nbl-awards__award
          li.nbl-awards__award-el 
            .h4 Amt insurance
          li.nbl-awards__award-el 
            .h4 
              Eco product
          li.nbl-awards__award-el 
            .h4 Melen
          li.nbl-awards__award-el 
            .h4 Yourdishes
          li.nbl-awards__award-el 
            .h4 Rollershop
      .nbl-awards__block 
        ul.nbl-awards__data
          li.nbl-awards__data-el.h4 2020
        ul.nbl-awards__award
          li.nbl-awards__award-el
            .h4 All generators
          li.nbl-awards__award-el
            .h4 Photobazaar
          li.nbl-awards__award-el
            .h4 Doctor elephant
          li.nbl-awards__award-el
            .h4 QubicaAMF
          li.nbl-awards__award-el
            .h4 General Vent
    